# General settings
CONFIG_64BIT=y
CONFIG_EMBEDDED=n
CONFIG_EXPERT=n
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_SMP=y

# Misc
CONFIG_LOCALVERSION_AUTO=y
CONFIG_VIRTIO_BALLOON=y

# Network
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y

# Block
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y

# Filesystems
CONFIG_TMPFS=y
CONFIG_BTRFS_FS=y

# Debug
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_GDB_SCRIPTS=y
CONFIG_READABLE_ASM=y
CONFIG_FRAME_POINTER=y
CONFIG_STACK_VALIDATION=y


## systemd
##
## See https://github.com/systemd/systemd/blob/master/README#L37

# Kernel Config Options:
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_NET=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y

# Kernel crypto/hash API
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA256=y

# udev will fail to work with the legacy sysfs layout:
CONFIG_SYSFS_DEPRECATED=n

# Legacy hotplug slows down the system and confuses udev:
CONFIG_UEVENT_HELPER_PATH=""

# Userspace firmware loading is not supported and should
# be disabled in the kernel:
CONFIG_FW_LOADER_USER_HELPER=n

# Some udev rules and virtualization detection relies on it:
CONFIG_DMIID=y

# Support for some SCSI devices serial number retrieval, to
# create additional symlinks in /dev/disk/ and /dev/tape:
CONFIG_BLK_DEV_BSG=y

# Required for PrivateNetwork= and PrivateDevices= in service units:
CONFIG_NET_NS=y
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
# Note that systemd-localed.service and other systemd units use
# PrivateNetwork and PrivateDevices so this is effectively required.

# Required for PrivateUsers= in service units:
CONFIG_USER_NS=y

# Optional but strongly recommended:
CONFIG_IPV6=y
CONFIG_AUTOFS4_FS=y
CONFIG_TMPFS_XATTR=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_CHECKPOINT_RESTORE=y

# Required for CPUShares= in resource control unit settings
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y

# Required for CPUQuota= in resource control unit settings
CONFIG_CFS_BANDWIDTH=y
